<h1>Final Assignment<h1>
<h2>Segmenting and Clustering Neighborhoods in the city of Toronto<h2>

<h4>Import Libraries<h4>

In [218]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files
import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

print('Libraries imported.')

Libraries imported.

Import Beautifull Soup Librarie and find the table in the webpage

In [246]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [247]:
url= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
data  = requests.get(url).text

In [248]:
soup = BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

In [249]:
tables = soup.find_all('table')

In [250]:
for index,table in enumerate(tables):
    if ("Postal codes in Canada" in str(table)):
        table_index = index

<h2>Preprocesing the data<h2>

In [251]:
df_neigh = pd.DataFrame(columns=["A", "B", "C", "D", "E","F", "G", "H", "I"])

for row in tables[0].tbody.find_all("tr"):
    col = row.find_all("td")
    A = col[0].text
    B = col[1].text
    C = col[2].text.strip()
    D = col[3].text.strip()
    E = col[4].text.strip()
    F = col[5].text.strip()
    G = col[6].text.strip()
    H = col[7].text.strip()
    I = col[8].text.strip()
    df_neigh = df_neigh.append({"A":A, "B":B, "C":C, "D":D, "E":E,"F":F, "G":G, "H":H, "I":I}, ignore_index=True)

df_neigh.head()

,A,B,C,D,E,F,G,H,I
0,\nM1ANot assigned\n\n,\nM2ANot assigned\n\n,M3ANorth York(Parkwoods),M4ANorth York(Victoria Village),M5ADowntown Toronto(Regent Park / Harbourfront),M6ANorth York(Lawrence Manor / Lawrence Heights),M7AQueen's Park(Ontario Provincial Government),M8ANot assigned,M9AEtobicoke(Islington Avenue)
1,\nM1BScarborough(Malvern / Rouge)\n\n,\nM2BNot assigned\n\n,M3BNorth York(Don Mills)North,M4BEast York(Parkview Hill / Woodbine Gardens),"M5BDowntown Toronto(Garden District, Ryerson)",M6BNorth York(Glencairn),M7BNot assigned,M8BNot assigned,M9BEtobicoke(West Deane Park / Princess Garden...
2,\nM1CScarborough(Rouge Hill / Port Union / Hig...,\nM2CNot assigned\n\n,M3CNorth York(Don Mills)South(Flemingdon Park),M4CEast York(Woodbine Heights),M5CDowntown Toronto(St. James Town),M6CYork(Humewood-Cedarvale),M7CNot assigned,M8CNot assigned,M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3,\nM1EScarborough(Guildwood / Morningside / Wes...,\nM2ENot assigned\n\n,M3ENot assigned,M4EEast Toronto(The Beaches),M5EDowntown Toronto(Berczy Park),M6EYork(Caledonia-Fairbanks),M7ENot assigned,M8ENot assigned,M9ENot assigned
4,\nM1GScarborough(Woburn)\n\n,\nM2GNot assigned\n\n,M3GNot assigned,M4GEast York(Leaside),M5GDowntown Toronto(Central Bay Street),M6GDowntown Toronto(Christie),M7GNot assigned,M8GNot assigned,M9GNot assigned

In [252]:
df = pd.DataFrame(columns=['Neigh'])
for j in range(8):
    for i in range(len(df_neigh)):
        s = df_neigh.iloc[i,j]
        df = df.append({
            "Neigh": s,
      }, ignore_index=True)

In [253]:
df.head()

                                               Neigh
0                              \nM1ANot assigned\n\n
1              \nM1BScarborough(Malvern / Rouge)\n\n
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...
3  \nM1EScarborough(Guildwood / Morningside / Wes...
4                       \nM1GScarborough(Woburn)\n\n

<h4><b>Extracting Post Code <b><h4>

In [254]:
df['PostalCode'] = df['Neigh'].str[1:4]

In [255]:
df.head()

                                               Neigh PostalCode
0                              \nM1ANot assigned\n\n        M1A
1              \nM1BScarborough(Malvern / Rouge)\n\n        M1B
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...        M1C
3  \nM1EScarborough(Guildwood / Morningside / Wes...        M1E
4                       \nM1GScarborough(Woburn)\n\n        M1G

<h4><b>Removing "Not assigned" values <b><h4>

In [256]:
a= df[df['Neigh'].str.contains('Not ass')]
a.head()

                    Neigh PostalCode
0   \nM1ANot assigned\n\n        M1A
18  \nM1YNot assigned\n\n        M1Y
19  \nM1ZNot assigned\n\n        M1Z
20  \nM2ANot assigned\n\n        M2A
21  \nM2BNot assigned\n\n        M2B

In [257]:
df.reset_index(inplace = True)

In [258]:
a.reset_index(inplace = True)

In [259]:
print(df.shape)
print(a.shape)

(160, 3)
(67, 3)

In [260]:
a.head()

   index                  Neigh PostalCode
0      0  \nM1ANot assigned\n\n        M1A
1     18  \nM1YNot assigned\n\n        M1Y
2     19  \nM1ZNot assigned\n\n        M1Z
3     20  \nM2ANot assigned\n\n        M2A
4     21  \nM2BNot assigned\n\n        M2B

In [ ]:
for i in range(len(a)):
    for j in range(len(df)):
        df.drop(a['index'], inplace= True)

print(df.shape)
print(a.shape)

<h4><b>Spliting in Borough and Neighborhood<b><h4>

In [264]:
df['Borough'], df['Neighborhood'] = df['Neigh'].str.split("(",1).str

<ipython-input-264-ec0f6b79f9ea>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Borough'], df['Neighborhood'] = df['Neigh'].str.split("(",1).str

In [265]:
df.drop(columns=['index', 'Neigh'], axis= 1, inplace=True)

In [266]:
df.head()

  PostalCode           Borough                                   Neighborhood
1        M1B  \nM1BScarborough                           Malvern / Rouge)\n\n
2        M1C  \nM1CScarborough  Rouge Hill / Port Union / Highland Creek)\n\n
3        M1E  \nM1EScarborough       Guildwood / Morningside / West Hill)\n\n
4        M1G  \nM1GScarborough                                    Woburn)\n\n
5        M1H  \nM1HScarborough                                 Cedarbrae)\n\n

<b>Removing caracteres<b>

In [267]:
df['Borough'] = df['Borough'].str[4:]

In [277]:
df['Neighborhood'] = df['Neighborhood'].str[:-3]

In [276]:
df.head()

,PostalCode,Borough,Neighborhood,Neighboorhood
1,M1B,Scarborough,"Malvern , Rouge)\n\n","Malvern , Rouge"
2,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek)\n\n","Rouge Hill , Port Union , Highland Creek"
3,M1E,Scarborough,"Guildwood , Morningside , West Hill)\n\n","Guildwood , Morningside , West Hill"
4,M1G,Scarborough,Woburn)\n\n,Woburn
5,M1H,Scarborough,Cedarbrae)\n\n,Cedarbrae

In [273]:
df['Neighborhood'] = df['Neighborhood'].str.replace("/", ",")

In [279]:
df.head()

  PostalCode      Borough                             Neighboorhood
1        M1B  Scarborough                           Malvern , Rouge
2        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
3        M1E  Scarborough       Guildwood , Morningside , West Hill
4        M1G  Scarborough                                    Woburn
5        M1H  Scarborough                                 Cedarbrae

In [280]:
e= df[df['Neighboorhood'].str.contains('Not ass')]
e.head()

Empty DataFrame
Columns: [PostalCode, Borough, Neighboorhood]
Index: []

In [281]:
print(df.shape)

(93, 3)

In [282]:
pip install geocoder

Requirement already satisfied: geocoder in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (1.38.1)
Requirement already satisfied: six in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (7.1.2)
Requirement already satisfied: ratelim in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: decorator in /Users/dani/opt/anaconda3/lib/python3.8/site-packages (from ratelim->geocoder) (4.4.2)
Note: you may need to restart the kernel to use updated packages.

In [283]:
import geocoder # import geocoder

In [293]:
data = pd.read_csv('Geospatial_Coordinates.csv')

In [316]:
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [295]:
df_copy = df
df_copy.head(20)

  PostalCode      Borough                             Neighboorhood
1        M1B  Scarborough                           Malvern , Rouge
2        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
3        M1E  Scarborough       Guildwood , Morningside , West Hill
4        M1G  Scarborough                                    Woburn
5        M1H  Scarborough                                 Cedarbrae

In [342]:
data.shape

(103, 3)

In [350]:
df.drop(columns=['Latitud', 'Longitude'], axis= 1, inplace= True)

In [371]:
import pandas as pd

# Rename the columns of df2_melted: df2_tidy
data2 = data.rename(columns = {'Postal Code': 'PostalCode'}, inplace = False)

# Print out df2_tidy
data2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [373]:
result = pd.merge(df, data2, on='PostalCode')

In [374]:
result.head()

,PostalCode,Borough,Neighboorhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476